.pr-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.status {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.open {
    background-color: #4CAF50;
    margin-left: 10px;
}

.discussion-container {
    padding: auto;
    display: flex;
    flex-direction: column;
    width: 80%;

}

.discussion-section {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.discussion-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.discussion-message {
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
    margin-left: 10px;
}

.message-content {
    margin: 30;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.input-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.pr-discussion {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100%;
}

.input-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button-pr {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    /* 讓按鈕靠右 */
}


.reviewers-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #6D6D8E;
    padding: 20px;
    border-radius: 20px;
}

.reviewers-section h2 {
    color: white;
    margin-bottom: 10px;
}

.reviewers-section ul {
    list-style: none;
    padding: 0;
}

.reviewer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.reviewer.approved {
    background-color: #4CAF50;
}

.reviewer.pending {
    background-color: #C0392D;
}

.add-reviewer {
    background-color: #E0E0E0;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    font-size: 24px;
}

.assistant-section {
    background-color: #FFFFE0;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.assistant-section h2 {
    margin-top: 0;
}

.assistant-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.merge-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-section {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-top: 150px;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.input-section textarea {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 20px;
    resize: none;
}

.submit-button-pr {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}